{% extends "/extends/adminBase.html.twig" %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block content %}

	<h1>
		Ajouter un livre dans la boutique
	</h1>

	{# ICI ON AJOUTERA UN FORM #}
    {{ form(formNewBook) }}
    
{% endblock %}
