{% extends "/base.html.twig" %}

{% block title %}
	Dashboard Admin
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/admin.css">
{% endblock %}


{% block body %}
{% if is_granted('ROLE_ADMIN') %}

	<div class="d-flex p-0 m-0 w-100 100vh">

		{% include "/includes/adminNavbar.html.twig" %}

		<main class="d-flex flex-column align-items-center">
			<div class="date pt-3 pr-2 text-right">
				<p class="dateActuelle"></p>
				<hr>
			</div>
			{% block content %}{% endblock %}
		</main>

	</div>
{% else %}
<p> petit malin </p>
{% endif %}
{% endblock %}

{% block javascript %}
	<script src="/js/admin.js"></script>
{% endblock %}
