<footer>
	<div class="container py-5">
		<hr>
		<div class="row">

			{# ======== Navigation ========#}
			<div class="col-4 p-0">
				<h3 class="w-100 text-left">Navigation</h3>
				<ul class="d-flex flex-column p-0 m-0">
					<a href="#" class="text-left">Accueil</a>
					<a href="#" class="text-left">Mon compte</a>
					<a href="#" class="text-left">Inscription</a>
					<a href="#" class="text-left">Panier</a>
				</ul>
			</div>

			{# ======== Mentions légales ========#}
			<div class="col-4 p-0 d-flex flex-column justify-content-center align-items-center">
				<h3 class="w-100 text-center footer-title-mention">Mentions legales</h3>
				<ul class="d-flex flex-column p-0 m-0">
					<a href="#" class="text-center">Conditions Générales de Vente</a>
					<a href="#" class="text-center">RGPD</a>
				</ul>
			</div>

			{# ======== Contacts ========#}
			<div class="col-4 p-0 d-flex flex-column align-items-center">
				<h3 class="w-100 text-right">Contacts</h3>
				<ul class="d-flex flex-column w-100 p-0 m-0">
					<li class="text-right">
						<p class="p-0 m-0">
							Vesoul-Edition - BP 103870001
							<br>
							VESOUL 70000 Cedex - France
						</p>
					</li>
					<li class="text-right">
						<a class="w-100 text-right" href="callto://+33699658600">06 99 65 86 00</a>
					</li>
					<li class="text-right">
						<a class="w-100 text-right" href="mailto:vesouledition@sfr.fr">vesouledition@sfr.fr</a>
					</li>
				</ul>
			</div>

			<hr>

			{# ======== Newsletter ======== #}
			<div class="col-12 d-flex flex-column align-items-center">
				<h3 class="m-0 py-2">Newsletter</h3>
				<form id="newsletter" class="d-flex my-2 my-lg-0 pt-4">
					<input class="form-control m-0" type="email" placeholder="Votre adresse email">
					<button class="btn-newsletter btn btn-info m-0" type="submit">S'inscrire</button>
				</form>
			</div>
			<hr>
		</div>
	</div>
</footer>
