    <div class="m-auto bg-danger text-light col-4 py-5 px-5 rounded">

    <h1 class="text-center m-3">Accès refusé !</h1>

    <p class="text-center"> Vous ne disposez pas des droits necessaires pour acceder a cette page ..</p>
    
<div>
