<!DOCTYPE html>
<html lang="fr">

	<head>
		{# Metadonnées de la page #}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
		<meta name="application-name" content="Edition Vesoul">
		<meta name="author" content="GIRARD Benjamin">
		<meta name="description" content="Site eCommerce de vente de livres par l'association Vesoul Edition">
		<meta name="keywords" content="Edition, Vesoul, livre, librairie, histoire">

		{# Font Awesome #}
		<script src="https://kit.fontawesome.com/7c09c4a3ab.js" crossorigin="anonymous"></script>

		{# Style #}
		<link rel="stylesheet" href="/css/jquery-ui.min.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		{% block stylesheet %}{% endblock %}

		<title>
			{% block title %}
				Vesoul-Edition
			{% endblock %}
		</title>
	</head>

	<body>

		{% block body %}{% endblock %}

		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		{% block javascript %}{% endblock %}

		{# {% if minyear is defined %}
					<script>
						$("#slider-range").slider({range: true, min: {{ minyear }}, max: {{ maxyear }}, values: [{{ minyear }}, {{maxyear }}],slide: function (event, ui) {$("#amount").val(ui.values[0] + " - " + ui.values[1]);}});
		
						$("#amount").val($("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1));
		
						function resetSlider() {
		
							$("#slider-range").slider("values", [
							$("#slider-range").slider('option', 'min'),
							$("#slider-range").slider('option', 'max')
							]);
							$("#amount").val($("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1));
		
							return [
							$("#slider-range").slider('option', 'min'),
							$("#slider-range").slider('option', 'max')
							];
						}
					</script>
				{% endif %} #}

	</body>
</html>
