<!DOCTYPE html>
<html lang="fr">

	<head>
		{# Metadonnées de la page #}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
		<meta name="application-name" content="Edition Vesoul">
		<meta name="author" content="GIRARD Benjamin">
		<meta name="description" content="Site eCommerce de vente de livres par l'association Vesoul Edition">
		<meta name="keywords" content="Edition, Vesoul, livre, librairie, histoire">

		{# Font Awesome #}
		<script src="https://kit.fontawesome.com/7c09c4a3ab.js" crossorigin="anonymous"></script>

		{# Style #}
		<link rel="stylesheet" href="/css/jquery-ui.min.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		{% block stylesheet %}{% endblock %}

		<title>
			{% block title %}
				Vesoul-Edition
			{% endblock %}
		</title>
	</head>

	<body>

		{% block body %}{% endblock %}
		
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/searchBar.js"></script>
		<script src="/js/burger.js"></script>
		
		{% block javascripts %}{% endblock %}

	</body>
</html>
