<!DOCTYPE html>
<html lang="fr">

	<head>
		{# Metadonnées de la page #}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
		<meta name="application-name" content="Edition Vesoul">
		<meta name="author" content="GIRARD Benjamin">
		<meta name="description" content="Site eCommerce de vente de livres par l'association Vesoul Edition">
		<meta name="keywords" content="Edition, Vesoul, livre, librairie, histoire">

		{# Font Awesome #}
		<script src="https://kit.fontawesome.com/7c09c4a3ab.js" crossorigin="anonymous"></script>

		{# Style #}
		<link rel="stylesheet" href="/css/jquery-ui.min.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		{% block stylesheet %}{% endblock %}

		<title>
			{% block title %}
				Vesoul-Edition
			{% endblock %}
		</title>
	</head>

	<body>

		{% block body %}{% endblock %}
		

		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/searchBar.js"></script>
		{% block javascripts %}{% endblock %}

	</body>
</html>
